/*
 * Styling for the following element classes
 *    revealer-handle-EW - handle to be placed between revealer-child-W and revealer-child-E
 *    revealer-handle-NS - handle to be placed between revealer-child-N and revealer-child-S
 *    revealer-handle-bidirectional - handle to be placed in the middle of a 4-way revealer
 *
 *    revealer-handle-EWhair - optional, put one of these before the revealer-handle-EW or revealer-handle-bidirectional
 *    revealer-handle-NShair - optional, put one of these before the revealer-handle-NS or revealer-handle-bidirectional
 *    revealer-handle-EWhair-N-part-only - optional, put one of these on the appropriate 3-way comparison
 *    revealer-handle-EWhair-S-part-only - optional, put one of these on the appropriate 3-way comparison
 *    revealer-handle-NShair-W-part-only - optional, put one of these on the appropriate 3-way comparison
 *    revealer-handle-NShair-E-part-only - optional, put one of these on the appropriate 3-way comparison
 */

/*
 * Implementation notes:
 *  - This stuff should maybe be added by the js?  Not sure.
 *  - for some reason the "before" pseudo-element (or pseudo-class) comes out stacked on top of the primary thing (but under the "after" pseudo-element if any). is this a bug? (for current implementation, before or after doesn't matter since the pseudo-element is fully transparent)
 *  - to debug the thick invisible lines, change all the "transparent"s to "darkblue" or something
 */

.revealer-child-W  { clip-path: inset(0 50% 0 0); }
.revealer-child-E  { clip-path: inset(0 0 0 50%); }
.revealer-child-N  { clip-path: inset(0 0 50% 0); }
.revealer-child-S  { clip-path: inset(50% 0 0 0); }
.revealer-child-NW { clip-path: inset(0 50% 50% 0); }
.revealer-child-NE { clip-path: inset(0 0 50% 50%); }
.revealer-child-SE { clip-path: inset(50% 0 0 50%); }
.revealer-child-SW { clip-path: inset(50% 50% 0 0); }


.revealer-handle-EWhair {
  width:1px;
  height:100%;
  background-color:gray;
  position:absolute;
  left:50%; top:50%; transform:translate(-50%,-50%);
  cursor: col-resize;
}
.revealer-handle-EWhair:before { /* thick invisible line for easier selection */
  width:10px;
  height:100%;
  position:absolute;
  left:50%; top:50%; transform:translate(-50%,-50%);
  background-color:transparent;
  content:''; /* pseudo-elements require content to function  */
}
.revealer-handle-EWhair-S-part-only {
  width:1px;
  height:50%;
  background-color:gray;
  position:absolute;
  left:50%; bottom:0%; transform:translate(-50%,0);
  cursor: col-resize;
}
.revealer-handle-EWhair-S-part-only:before { /* thick invisible line for easier selection */
  width:10px;
  height:100%; /* of the thing it's following! not of the parent */
  position:absolute;
  left:50%; top:50%; transform:translate(-50%,-50%); /* always */
  background-color:transparent;
  content:''; /* pseudo-elements require content to function  */
}
.revealer-handle-EWhair-N-part-only {
  width:1px;
  height:50%;
  background-color:gray;
  position:absolute;
  left:50%; top:0%; transform:translate(-50%,0);
  cursor: col-resize;
}
.revealer-handle-EWhair-N-part-only:before { /* thick invisible line for easier selection */
  width:10px;
  height:100%; /* of the thing it's following, not of the parent */
  position:absolute;
  left:50%; top:50%; transform:translate(-50%,-50%); /* always */
  background-color:transparent;
  content:''; /* pseudo-elements require content to function  */
}
.revealer-handle-EW {
  width:8px;
  height:20px;

  position:absolute;
  left:50%; top:50%; transform:translate(-50%,-50%);
  background-color: #a080ff; /* violetish light blue */
  cursor: col-resize;
}


.revealer-handle-NShair {
  height:1px;
  width:100%;
  background-color:gray;
  position:absolute;
  left:50%; top:50%; transform:translate(-50%,-50%);
  cursor: row-resize;
}
.revealer-handle-NShair:before { /* thick invisible line for easier selection */
  height:10px;
  width:100%;
  position:absolute;
  left:50%; top:50%; transform:translate(-50%,-50%); /* always */
  background-color:transparent;
  content:''; /* pseudo-elements require content to function  */
}
.revealer-handle-NShair-E-part-only {
  height:1px;
  width:50%;
  background-color:gray;
  position:absolute;
  right:0%; top:50%; transform:translate(0,-50%);
  cursor: row-resize;
}
.revealer-handle-NShair-E-part-only:before { /* thick invisible line for easier selection */
  height:10px;
  width:100%; /* of the thing it's following, not the parent */
  position:absolute;
  left:50%; top:50%; transform:translate(-50%,-50%); /* always */
  background-color:transparent;
  content:''; /* pseudo-elements require content to function  */
}
.revealer-handle-NShair-W-part-only {
  height:1px;
  width:50%;
  background-color:gray;
  position:absolute;
  left:0%; top:50%; transform:translate(0,-50%);
  cursor: row-resize;
}
.revealer-handle-NShair-W-part-only:before { /* thick invisible line for easier selection */
  height:10px;
  width:100%; /* of the thing it's following, not the parent */
  position:absolute;
  left:50%; top:50%; transform:translate(-50%,-50%); /* always */
  background-color:transparent;
  content:''; /* pseudo-elements require content to function  */
}

.revealer-handle-NS {
  height:8px;
  width:20px;
  position:absolute;
  left:50%; top:50%; transform:translate(-50%,-50%);
  background-color: #a080ff; /* violetish light blue */
  cursor: row-resize;
}


.revealer-handle-bidirectional {
  height:12px;
  width:12px;
  position:absolute;
  left:50%; top:50%; transform:translate(-50%,-50%);
  background-color: #a080ff; /* violetish light blue */
  cursor: move;
}
